.searcher-c {
    display: none;
}

.save-alert-modal {
    cursor: not-allowed;
    top: -100vh;
}

.back-button-c {
    position: fixed;
    top: 10px;
    left: calc(17vw - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    z-index: 10;
    border: 1px solid var(--first-color);
    border-radius: 50%;
    background-color: transparent;
    transition: all var(--transition-time) ease;
    cursor: pointer;
}

.back-button-c button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    font-size: var(--header-size);
    color: var(--first-color);
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

.back-button-c::before {
    position: absolute;
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 30%;
    left: 90%;
    width: 0px;
    height: 50%;
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: 600px;
    border-radius: var(--border-radius);
    background-color: var(--light-background-color);
    z-index: 1;
    transition: all var(--transition-time) ease;
}

.back-button-c:hover {
    background-color: var(--sections-background-color);
}

.back-button-c:hover::before {
    content: 'Back';
    left: calc(100% + 2px);
    width: 100px;
}

.back-button-c:active {
    scale: 0.95;
}

.dropdown-section .content {
    display: none;
    border-radius: var(--border-radius);
}

.settings-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 17vw;
    height: calc(100% - 55px);
    gap: 20px;
    padding: 50px 0px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    scrollbar-color: transparent transparent ;
}

.settings-sidebar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.settings-sidebar::-webkit-scrollbar-track {
    background-color: transparent;
}

.settings-sidebar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border: none;
}

.dropdown-section.active .content {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 100px;
    gap: 10px;
    padding: 5px 0;
    margin-left: 35px;
}

.settings-sidebar-button {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    width: 100%;
    height: 30px;
    background-color: transparent;
    color: var(--normal-font-color);
    font-size: var(--normal-size);
    font-weight: 600;
    z-index: 1;
    padding-left: 5px;
    white-space: nowrap;
    transition: all var(--transition-time) ease;
    cursor: pointer;
    margin-left: 25px;
}

.settings-sidebar-button:hover {
    color: var(--normal-font-color);
}

.settings-sidebar-button::before{
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--normal-font-color);
    z-index: 1;
    transition: top var(--transition-time) ease;
}

.settings-sidebar-button::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 10%;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--normal-font-color);
    filter: blur(20px);
    z-index: -1;
    transition: left var(--transition-time) ease;
}

.settings-sidebar-button:hover::before{
    top: 0;
}

.settings-sidebar-button:hover::after{
    left: 0;
}

.settings-sidebar-button-in-section {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    background-color: transparent;
    color: var(--inactive-font-color);
    font-size: var(--normal-size);
    font-weight: 600;
    z-index: 1;
    border-radius: var(--border-radius);
    white-space: nowrap;
    transition: all var(--transition-time) ease;
    cursor: pointer;
}

.selected-in-section-button {
    background-color: var(--sections-background-color);
    color: var(--first-color);
}

.settings-sidebar-button-in-section:hover {
    background-color: var(--sections-background-color);
    color: var(--first-color);
}

.active-link {
    color: var(--first-color);
    padding-left: 10px;
    transition: padding-left var(--transition-time) ease;
}

.active-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--first-color);
    z-index: 1;
}

.active-link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--first-color);
    filter: blur(15px);
    z-index: -1;
}

.main-top {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    height: 150px;
    width: 100%;
    margin-bottom: 50px;
    gap: 30px;
    margin-top: 30px;
}

.main-top h3{
    font-size: var(--small-size);
    font-weight: 600;
    color: var(--inactive-font-color);
}

.searcher-c-base {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 286px;
    max-width: 350px;
    height: 35px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--light-background-color-hover);
    padding: 0 10px 0 15px;
    transition: border var(--transition-time) ease;
    user-select: none;
}

.searcher-c-base:focus-within {
    border: 1px solid var(--first-color);
}

.search-bar {
    width: 90%;
    height: 100%;
    background-color: transparent;
    cursor: pointer;
    color: var(--normal-font-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    padding: 0 5px;
    caret-color: var(--first-color);
}

.search-bar-i-container {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    color: var(--normal-font-color);
}

.searcher-c {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 150px;
    background-color: var(--sections-background-color);
    border-radius: var(--border-radius);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;
    color: var(--normal-font-color);
}

.searcher-c div{
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
    width: 100%;
    height: 50px;
    white-space: nowrap;
    border-bottom: 1px solid var(--inactive-font-color);
    padding: 8px 20px;
    cursor: pointer;
}

.searcher-c div h3{
    white-space: nowrap;
    font-size: var(--inactive-font-color);
    font-weight: 500;
}

.section-header-div {
    font-size: var(--title-size);
    color: var(--normal-font-color);
    margin: 60px 0;
}

.settings-types-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)); 
    grid-gap: 15px;
    height: auto;
    width: 100%;
}

.setting-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 30%;
    max-width: 350px;
    min-width: 275px;
    height: 65px;
    padding: 10px;
    background-color: var(--light-background-color);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    border: 2px solid var(--light-background-color-hover);
    transition: all var(--transition-time) ease;
    cursor: pointer;
    user-select: none;
}

.setting-card:hover{
    background-color: var(--light-background-color-hover);
    border: 1px solid var(--first-color);
}

.setting-card:hover .card-icon-div {
    background-color: var(--light-background-color);
}

.setting-card div{
    display: flex;
    height: 100%;
}

.card-info-div {
    align-items: start;
    justify-content: start;
    flex-direction: column;
    text-align: start;
    width: 80%;
    height: 100%;
    padding: 1%;
    gap: 2px;
}

.card-icon-div {
    align-items: center;
    justify-content: center;
    text-align: start;
    width: 20%;
    padding: 1%;
    background-color: var(--light-background-color-hover);
    border-radius: var(--border-radius);
    transition: background-color var(--transition-time) ease;
    margin-right: 2px;
}

.card-icon-div i{
    font-size: var(--icon-size);
    color: var(--normal-font-color);
}


.card-info-div h3{
    font-size: var(--normal-size);
    color: var(--normal-font-color);
}

.card-info-div p{
    font-size: var(--small-size);
    color: var(--inactive-font-color);
    font-weight: 600;
}

.main-settings-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 2%;
    gap: 20px;
}

.settings-list-card {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    background-color: var(--sections-background-color);
    border-radius: var(--border-radius);
    border: 2px solid var(--light-background-color-hover);
    width: 100%;
    height: 65px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color var(--transition-time) ease;
    gap: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.settings-list-card-icon-div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--icon-size);
    color: var(--normal-font-color);
    background-color: var(--light-background-color);
    border-radius: var(--border-radius);
    height: 100%;
    width: 60px;
    transition: background-color var(--transition-time) ease;
}

.settings-list-card-info-div {
    flex-direction: column;
    color: var(--inactive-font-color);
}

.settings-list-card-info-div h3{
    font-size: var(--title-size);
    color: var(--normal-font-color);
}

.settings-list-card-info-div p{
    font-size: var(--normal-size);
    color: var(--inactive-font-color);
    margin-left: 10px;
    font-weight: 600;
}

.settings-list-card:hover {
    background-color: var(--light-background-color);
}

.settings-list-card:hover .settings-list-card-icon-div {
    background-color: var(--sections-background-color);
}


.active-icon {
    color: var(--first-color);
}

.save-alert-modal {
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 20;
    background-color: transparent;
    backdrop-filter: blur(6px);
    transition: top var(--transition-time) ease;
    overflow: hidden;
}

.save-alert-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    width: 60%;
    height: 60%;
    background-color: var(--sections-background-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--first-color);
    user-select: none;
    overflow: hidden;
    gap: 20px;
    padding: 2%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.modal-exit-button {
    position: absolute;
    top: 2%;
    left: 2%;    
    background-color: transparent;
    font-size: var(--header-size);
    color: var(--first-color);
    cursor: pointer;
    border-radius: 50%;
}

.save-alert-container h1{
    color: var(--normal-font-color);
    font-size: var(--title-size);
    padding: 0 0 20px calc(2% + 35px);
}

.difference-list {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 60%;
    height: 50%;
    gap: 10px;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--normal-font-color);
    font-size: var(--normal-size);
}

.difference-card {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    min-height: 40px;
    background-color: var(--light-background-color);
    font-size: var(--normal-size);
    color: var(--normal-font-color);
    font-weight: 600;
    border-radius: var(--border-radius);
    padding-left: 10px;
    opacity: 0.8;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    gap: 3px;
}

.difference-card h3{
    font-size: var(--normal-size);
    color: var(--normal-font-color);
    font-weight: 500;
    white-space: nowrap;
}

.difference-card button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    background-color: var(--negative-color);
    font-size: var(--icon-size);
    color: var(--normal-font-color);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.modal-buttons-c {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 60px;
    gap: 10%;
}

.modal-buttons-c button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-size: var(--normal-font-size);
    color: var(--normal-font-color);
    font-weight: 600;
    width: 30%;
    min-width: 130px;
    max-width: 160px;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all var(--transition-time) ease;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.modal-buttons-c button:hover{
    opacity: 0.5;
}

.modal-buttons-c button:active{
    scale: 0.95;
}


.negative-button {
    background-color: var(--negative-color);
}

.positive-button {
    background-color: var(--positive-color);
}